/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap'); */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

h2 {
    vertical-align: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;

    /* menu navigation */
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #3a3a3a;
    color: #FFF;
    height: 70px;
    padding: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 120%;
    z-index: 1;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
    padding-right: 30px;
}

.menu>li>a {
    text-decoration: none;
    color: #fff;
}

.menu>li>a:hover {
    color: rgb(250, 200, 5);
    font-weight: bold;
}

.menu-active {
    font-weight: bold;
}

.top-nav>div>a>img {
    width: 80%;
    height: 90px;
    padding-top: 5px;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.5, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: #3a3a3a;
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

/* main image homepage */

.homepage-moon-box {
    height: 1100px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: black;
}

.homepage-moon {
    height: 1100px;
    width: 100%;
    background: url(../images/moon-up-main-image-pexels.webp) no-repeat center center;
    background-size: cover;
    animation-name: moon-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes moon-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}

.homepage-moon-circle {
    /* font-size: 300%; */
    color: #3a3a3a;
    text-transform: uppercase;
    padding: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background-color: rgb(250, 200, 5, .7);
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.homepage-moon-circle>h1 {
    color: #3a3a3a;
    font-size: 450%;
    top: 0;
}

.homepage-moon-circle>h2 {
    color: #3a3a3a;
    font-size: 200%;
    padding-top: 25px;
}

.homepage-moon-circle>h2>a {
    color: #3a3a3a;
    text-decoration: none;
    /* font-size: 150%; */
}

.homepage-moon-circle>h2>a:hover {
    color: #fff;
}

/* about us wrapper */

.wrapper {
    padding: 30px 30px 100px;
    width: 100%;
    background-color: rgb(250, 200, 5);
    text-align: center;
}

.wrapper>h1 {
    color: #3a3a3a;
    text-transform: uppercase;
    font-size: 250%;
    line-height: 75px;
}

.wrapper>div>img {
    padding: 30px 30px 0;
    width: 60%;
    text-align: center;
}
.wrapper>h1>i {
    font-size: 250%;
    color: #fff;
    margin-top: 30px;
}

.columns {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}

.col {
    margin: 0 15px 30px;
    padding: 20px;
}

.col-33 {
    width: calc(33.33% - 30px)
}

.col-33>i {
    font-size: 400%;
    color: #fff;
    margin-top: 30px;
}

.col-33>h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 200%;
    line-height: 75px;
    color: #3a3a3a;
}


.col-33>p {
    color: #3a3a3a;
    font-weight: normal;
    font-size: 125%;
    padding: 0 30px;
    margin: 0 30px;
}

.col-33>p>a {
    text-decoration: none;
    color: #3a3a3a;
}

.col-33>p>a:hover {
    color: #fff;
}

/* info blocks */

.info-wrapper {
    padding: 30px 30px 100px;
    width: 100%;
    background-color: #3a3a3a;
    text-align: center;
    background: url(../images/half-moon-clouds-in-foreground-chuck-johnson.webp) no-repeat center center;
    background-size: cover;

}

.info-wrapper>h1 {
    color: rgb(250, 200, 5);
    text-transform: uppercase;
    font-size: 250%;
    line-height: 75px;
}

.info-wrapper>h1>i {
    font-size: 250%;
    color: rgb(250, 200, 5);
    margin-top: 30px;
}

.info-blocks {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}

.block {
    margin: 0 15px 30px;
    padding: 20px;
    background-color: rgba(43, 43, 42, 0.7);
    border-radius: 6px;
}

.block-nb {
    margin: 0 15px 30px;
    padding: 20px;
    border-radius: 6px;
}

.block-33 {
    width: calc(33.33% - 30px)
}

.block-33>i {
    font-size: 400%;
    color: rgb(250, 200, 5);
    margin-top: 30px;
}

.block-33>h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 200%;
    line-height: 60px;
    color: rgb(250, 200, 5);
}

.block-33>h3 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 150%;
    line-height: 30px;
    color: #fff;
}


.block-33>p {
    color: rgb(250, 200, 5);
    font-weight: normal;
    font-size: 150%;
    padding: 0 30px;
    margin: 0 30px;
}

.block-100 {
    width: calc(100% - 30px)
}

.block-100>h1>i {
    font-size: 400%;
    color: rgb(250, 200, 5);
    margin-top: 30px;
}

.block-100>h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 200%;
    line-height: 75px;
    color: rgb(250, 200, 5);
}

.block-100>img {
    width: 60%;
    height: auto;
}

.block-100>h2 {
    font-weight: bold;
    font-size: 150%;
    line-height: 35px;
    color: #fff;
}

.block-100>h2>a {
    text-decoration: none;
    color: #fff;
}

.block-100>h2>a:hover {
    color: rgb(250, 200, 5);
}

.block-100>p {
    color: #fff;
    font-weight: normal;
    font-size: 150%;
    padding: 0 30px;
    margin: 0 30px;
}

/* moon-watch info blocks */


.mw-info-wrapper {
    padding: 30px 30px 100px;
    width: 100%;
    height: 1100px;
    background-color: #3a3a3a;
    text-align: center;
    background: url(../images/detailed-moon-image-nasa.webp) no-repeat center center;
    background-size: cover;

}

.mw-info-wrapper-bkg {
    padding: 30px 30px 100px;
    width: 100%;
    background-color: #3a3a3a;
    text-align: center;
}

.mw-info-wrapper-bkg>div>img {
    width: 60%;

}

.mw-info-wrapper-bky {
    padding: 30px 30px 100px;
    width: 100%;
    background-color: rgb(250, 200, 5);
    text-align: center;

}

.mw-info-wrapper>h1 {
    color: rgb(250, 200, 5);
    text-transform: uppercase;
    font-size: 250%;
    line-height: 75px;
}

.mw-info-wrapper>h1>i {
    font-size: 250%;
    color: rgb(250, 200, 5);
    margin-top: 30px;
}

.mw-info-wrapper-bkg>h2 {
    color: rgb(250, 200, 5);
    text-transform: uppercase;
    font-size: 250%;
    line-height: 75px;
}

.mw-info-wrapper-bkg>i {
    font-size: 250%;
    color: rgb(250, 200, 5);
    margin-top: 30px;
}

.mw-info-blocks {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}

.mw-block {
    margin: 0 15px 30px;
    padding: 20px;
    background-color: rgba(43, 43, 42, 0.7);
    border-radius: 6px;
}

.mw-block-nb {
    margin: 0 15px 30px;
    padding: 20px;
}

.mw-block-33 {
    width: calc(33.33% - 30px)
}

.mw-block-50 {
    width: calc(50% - 30px)
}

.mw-block-33>i {
    font-size: 400%;
    color: rgb(250, 200, 5);
    margin-top: 30px;
}

.mw-block-33>h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 200%;
    line-height: 75px;
    color: rgb(250, 200, 5);
}

.mw-block-33>h2>i {
    font-size: 200%;
    color: rgb(250, 200, 5);
    margin-top: 30px;
}

.mw-block-33>h3 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 150%;
    line-height: 30px;
    color: #fff
}


.mw-block-33>p {
    color: #fff;    
    font-weight: normal;
    font-size: 125%;
    padding: 0 30px 30px;
    margin: 0 30px;
}

.mw-block-33>p>a {
    color: #fff;
    text-decoration: none;
}

.mw-block-33>p>a:hover {
    color: rgb(250, 200, 5);

}

.mw-block-100 {
    width: calc(100% - 30px)
}

.mw-block-100>h1>i {
    font-size: 400%;
    color: rgb(250, 200, 5);
    margin-top: 30px;
}

.mw-block-100>h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 200%;
    line-height: 75px;
    color: rgb(250, 200, 5);
}


.mw-block-100>p {
    color: #fff;
    font-weight: normal;
    font-size: 125%;
    padding: 0 30px;
    margin: 0 30px;
}

.lunar-calendar {
    height: 400px;
    color: #fff;
}

table {
    width: 100%;
    border: 1px solid #3a3a3a80;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid rgb(250, 200, 5);
    width: 16%;
    height: 100px;
    text-align: center;
    background-color: #3a3a3a95;
}

th {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 150%;
    line-height: 30px;
    color: #fff
}

/* moon-shots page */
.moon-shots {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    background-color: black;
}

.moon-shots>img {
    width: 100%;
}


/* footer */

footer {
    height: 150px;
    background-color: #3a3a3a;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
    margin-right: 75px;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 1%;
    color: #fff;
}

.social-networks i:hover {
    color: rgb(250, 200, 5);
}

/* contact us window */

.contactus {
    background: url(../images/half-moon-clouds-in-foreground-chuck-johnson.webp) no-repeat center center;
    width: 100%;
    height: 100vh;
}

.send-button {
    margin-top: 20px;
    border-radius: 2px;
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 100%;
    border: 2px solid white;
    color: #fff;
    display: block;
    background: transparent;
}

.send-button:hover {
    background-color: rgb(250, 200, 5);
    color: black;
}

.contactus-message {
    background: transparent;
    border: 2px solid white;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 100%;
    text-align: center;
    width: 740px;
}

/* sign-up section */

.sign-up-section {
    background: url(../images/pexels-pixabay-73872.jpg) no-repeat center center;
    background-size: cover;
    height: 1200px;
    position: relative;
}

.signup-form>p {
    line-height: 40px;
}

.signup-form {
    color: #fff;
    background-color: #3a3a3a95;
    border-radius: 6px;
    text-align: center;
    max-width: 800px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.signup-form>i {
    color: #fafafa;
    font-size: 300%;
}

.signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 2px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: rgb(250, 200, 5);
}

.radio {
 padding: 45px;
 margin-right: 50px;
}


.join-button {
    margin-top: 20px;
    border-radius: 2px;
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 100%;
    border: 2px solid white;
    color: #fff;
    display: block;
    background: transparent;
}

.join-button:hover {
    background-color: rgb(250, 200, 5);
    color: black;
}

.myfile {
    margin-top: 8px;
    padding: 12px 36%;
    border-radius: 2px;
    width: 100%;
    text-align: center;
    font-size: 100%;
    border: 2px solid white;
    color: #fff;
    display: block;
}

.myfile:hover {
    border-color: rgb(250, 200, 5);
}


/* thank you */

#thankyou {
    background: url(../images/half-moon-clouds-in-foreground-chuck-johnson.webp) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 1100px;
    text-align: center;
    font-size: 200%;
    line-height: 100px;
}

.thankyou-block-100>p {
    font-size: 125%;

}



/* media queries */


/* hamburger button media query */

@media (max-width: 1200px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 70px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #3a3a3a;
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }

    .moon-shots {
        column-count: 3;
    }
}


/* circle heading queries */

@media screen and (max-width: 600px) {
    .homepage-moon-circle {
        font-size: 250%;
        width: 450px;
        height: 450px;
    }
    .homepage-moon-circle>h1 {
        font-size: 150%;
    }
    .homepage-moon-circle>h2 {
        font-size: 80%;
    }
}

@media screen and (max-width: 500px) {
    .homepage-moon-circle {
        font-size: 225%;
        width: 400px;
        height: 400px;
    }

}

@media screen and (max-width: 400px) {
    .homepage-moon-circle {
        font-size: 200%;
        width: 350px;
        height: 350px;
    }

    .homepage-moon-box {
        height: 700px;
        width: 100%;
        overflow: hidden;
        position: relative;
        background-color: black;
    }
    
    .homepage-moon {
        height: 700px;

}
}

/* about us section media queries */


@media screen and (max-width: 1500px) {
    .col-33 {
        width: 100%;
        padding: 0 50px;

    }

}

@media screen and (max-width: 1000px) {
    .col-33 {
        width: 100%;
        padding: 0 10px;

    }

}

@media screen and (max-width: 600px) {

    .col-33 {
        width: 100%;
        padding: 0 10px;
    }

    .col-33>p {
        width: 100%;
        padding: 0 5px 0;
        font-size: 130%;
        text-align: center;
        margin-left: 0;
    }


    .block-100>h2 {
        font-size: 100%;
        line-height: 35px;
    }

}

@media screen and (max-width: 400px) {

    .col-33>h2 {
        font-size: 150%;
    }
}

/* info-blocks section media queries */


@media screen and (max-width: 1500px) {
    .block-33 {
        width: 100%;
        padding: 0 50px 30px;

    }

}

@media screen and (max-width: 700px) {
    .block-33 {
        width: 100%;
        padding: 0 10px 30px;

    }

}

/* moon watch section media queries */


@media screen and (max-width: 1500px) {
    .mw-block-33 {
        width: 100%;
        padding: 0 50px 30px;

    }

}

@media screen and (max-width: 700px) {
    .mw-block-33 {
        width: 100%;
        padding: 0 1px 30px;

    }

}

@media screen and (max-width: 600px) {
    .mw-block-33>p {
        width: 100%;
        padding: 0 5px 30px;
        font-size: 130%;
        text-align: center;
        margin-left: 0;

    }

    .block-100>h2 {
        width: 100%;
        padding: 0 5px 30px;
        font-size: 130%;
        text-align: center;
        margin-left: 0;

    }



}


@media screen and (max-width: 1200px) {
    .mw-block-50 {
        width: 100%;
        padding: 0 10px 30px;

    }

}

/* footer media query */

@media screen and (max-width: 600px) {

    footer {
        height: 325px;
        background-color: #3a3a3a;
    }

    .social-networks {
        text-align: center;
    }

    .social-networks>li {
        display: block;
        margin: auto;
    }

    .social-networks i {
        font-size: 200%;
        margin: 1%;
        padding: 10px;
        color: #fff;
    }

    .social-networks i:hover {
        color: rgb(250, 200, 5);
    }

}

/* moon-shots media query */

@media screen and (max-width: 800px) {
    .moon-shots {
        column-count: 2;
    }
}


@media screen and (max-width: 500px) {
    .moon-shots {
        column-count: 1;
    }
}