@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#moonup-logo {
    float: left;
    width: 35%;
    margin-left: 25px;
}

nav a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 150%;
    color: #fff;
    text-transform: uppercase;
    margin-right: 75px;
    margin-left: 25px;
    text-decoration: none;
    line-height: 270px;
}

#menu {
    float: right;
}

nav a:hover {
    color: rgb(250, 200, 5)
}

.active {
    color: rgb(250, 200, 5);
}

#hero-image {
    height: 1100px;
    width: 100%;
    background: url(../images/pexels-pixabay-47367-main-image.jpg);
}